#game history data path
src/my-data-path/
src/catanatron/catanatron/generate/boards/*
src/placement_log.txt/

.vscode
logs/
pstats
data/
profile.pstats
catanatron-venv
.DS_Store

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
# C extensions
*.so
# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec
# Installer logs
pip-log.txt
pip-delete-this-directory.txt
# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
# Translations
*.mo
*.pot
# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
# Flask stuff:
instance/
.webassets-cache
# Scrapy stuff:
.scrapy
# Sphinx documentation
docs/_build/
# PyBuilder
target/
# Jupyter Notebook
.ipynb_checkpoints
# IPython
profile_default/
ipython_config.py
# pyenv
.python-version
# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock
# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/
# Celery stuff
celerybeat-schedule
celerybeat.pid
# SageMath parsed files
*.sage.py
# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
# Spyder project settings
.spyderproject
.spyproject
# Rope project settings
.ropeproject
# mkdocs documentation
/site
# mypy
.mypy_cache/
.dmypy.json
dmypy.json
# Pyre type checker
.pyre/
/db-data## Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb
## Intermediate documents:
*.dvi
*.xdv
*-converted-to.*
# these rules might exclude image files for figures etc.
# *.ps
# *.eps
# *.pdf
## Generated if empty string is given at "Please type another file name for output:"
.pdf
## Bibliography auxiliary files (bibtex/biblatex/biber):
*.bbl
*.bcf
*.blg
*-blx.aux
*-blx.bib
*.run.xml
## Build tool auxiliary files:
*.fdb_latexmk
*.synctex
*.synctex(busy)
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync
## Build tool directories for auxiliary files
# latexrun
latex.out/
## Auxiliary and intermediate files from other packages:
# algorithms
*.alg
*.loa
# achemso
acs-*.bib
# amsthm
*.thm
# beamer
*.nav
*.pre
*.snm
*.vrb
# changes
*.soc
# comment
*.cut
# cprotect
*.cpt
# elsarticle (documentclass of Elsevier journals)
*.spl
# endnotes
*.ent
# fixme
*.lox
# feynmf/feynmp
*.mf
*.mp
*.t[1-9]
*.t[1-9][0-9]
*.tfm
#(r)(e)ledmac/(r)(e)ledpar
*.end
*.?end
*.[1-9]
*.[1-9][0-9]
*.[1-9][0-9][0-9]
*.[1-9]R
*.[1-9][0-9]R
*.[1-9][0-9][0-9]R
*.eledsec[1-9]
*.eledsec[1-9]R
*.eledsec[1-9][0-9]
*.eledsec[1-9][0-9]R
*.eledsec[1-9][0-9][0-9]
*.eledsec[1-9][0-9][0-9]R
# glossaries
*.acn
*.acr
*.glg
*.glo
*.gls
*.glsdefs
*.lzo
*.lzs
# uncomment this for glossaries-extra (will ignore makeindex's style files!)
# *.ist
# gnuplottex
*-gnuplottex-*
# gregoriotex
*.gaux
*.gtex
# htlatex
*.4ct
*.4tc
*.idv
*.lg
*.trc
*.xref
# hyperref
*.brf
# knitr
*-concordance.tex
# TODO Comment the next line if you want to keep your tikz graphics files
*.tikz
*-tikzDictionary
# listings
*.lol
# luatexja-ruby
*.ltjruby
# makeidx
*.idx
*.ilg
*.ind
# minitoc
*.maf
*.mlf
*.mlt
*.mtc[0-9]*
*.slf[0-9]*
*.slt[0-9]*
*.stc[0-9]*
# minted
_minted*
*.pyg
# morewrites
*.mw
# nomencl
*.nlg
*.nlo
*.nls
# pax
*.pax
# pdfpcnotes
*.pdfpc
# sagetex
*.sagetex.sage
*.sagetex.py
*.sagetex.scmd
# scrwfile
*.wrt
# sympy
*.sout
*.sympy
sympy-plots-for-*.tex/
# pdfcomment
*.upa
*.upb
# pythontex
*.pytxcode
pythontex-files-*/
# tcolorbox
*.listing
# thmtools
*.loe
# TikZ & PGF
*.dpth
*.md5
*.auxlock
# todonotes
*.tdo
# vhistory
*.hst
*.ver
# easy-todo
*.lod
# xcolor
*.xcp
# xmpincl
*.xmpi
# xindy
*.xdy
# xypic precompiled matrices and outlines
*.xyc
*.xyd
# endfloat
*.ttt
*.fff
# Latexian
TSWLatexianTemp*
## Editors:
# WinEdt
*.bak
*.sav
# Texpad
.texpadtmp
# LyX
*.lyx~
# Kile
*.backup
# gummi
.*.swp
# KBibTeX
*~[0-9]*
# TeXnicCenter
*.tps
# auto folder when using emacs and auctex
./auto/*
*.el
# expex forward references with \gathertags
*-tags.tex
# standalone packages
*.sta
# Makeindex log files
*.lpz
# DS_Store file from Mac computers
# .idea files from local projects
.idea/.gitignore
.idea/RLCatan.iml
.idea/inspectionProfiles/profiles_settings.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
# all pfs
*.pdf

# PostgreSQL data files
src/db-data/base/1/1255
src/db-data/base/1/1255_fsm
src/db-data/base/1/1259
src/db-data/base/1/2579
src/db-data/base/1/2618
src/db-data/base/1/2619
src/db-data/base/1/2619_fsm
src/db-data/base/1/2619_vm
src/db-data/base/1/2658
src/db-data/base/1/2659
src/db-data/base/1/2662
src/db-data/base/1/2664
src/db-data/base/1/2665
src/db-data/base/1/2666
src/db-data/base/1/2667
src/db-data/base/1/2673
src/db-data/base/1/2675
src/db-data/base/1/2684
src/db-data/base/1/2685
src/db-data/base/1/2696
src/db-data/base/1/2836
src/db-data/base/1/2837
src/db-data/base/1/2838
src/db-data/base/1/2838_fsm
src/db-data/base/1/2840
src/db-data/base/1/2840_fsm
src/db-data/base/1/2840_vm
src/db-data/base/1/2841
src/db-data/base/1/3085
src/db-data/base/1/3164
src/db-data/base/1/3395
src/db-data/base/1/3604
src/db-data/base/1/3605
src/db-data/base/1/3608
src/db-data/base/1/3609
src/db-data/base/1/3712
src/db-data/base/1/3766
src/db-data/base/1/3767
src/db-data/base/16384/112
src/db-data/base/16384/113
src/db-data/base/16384/174
src/db-data/base/16384/175
src/db-data/base/16384/548
src/db-data/base/16384/549
src/db-data/base/16384/827
src/db-data/base/16384/828
src/db-data/base/16384/1247
src/db-data/base/16384/1249
src/db-data/base/16384/1249_fsm
src/db-data/base/16384/1249_vm
src/db-data/base/16384/1255
src/db-data/base/16384/1255_fsm
src/db-data/base/16384/1255_vm
src/db-data/base/16384/1259
src/db-data/base/16384/1259_fsm
src/db-data/base/16384/1259_vm
src/db-data/base/16384/2187
src/db-data/base/16384/2224
src/db-data/base/16384/2228
src/db-data/base/16384/2337
src/db-data/base/16384/2579
src/db-data/base/16384/2600
src/db-data/base/16384/2600_fsm
src/db-data/base/16384/2600_vm
src/db-data/base/16384/2601
src/db-data/base/16384/2601_fsm
src/db-data/base/16384/2601_vm
src/db-data/base/16384/2602
src/db-data/base/16384/2602_fsm
src/db-data/base/16384/2602_vm
src/db-data/base/16384/2603
src/db-data/base/16384/2603_fsm
src/db-data/base/16384/2603_vm
src/db-data/base/16384/2604
src/db-data/base/16384/2605
src/db-data/base/16384/2605_fsm
src/db-data/base/16384/2605_vm
src/db-data/base/16384/2606
src/db-data/base/16384/2606_fsm
src/db-data/base/16384/2606_vm
src/db-data/base/16384/2607
src/db-data/base/16384/2607_fsm
src/db-data/base/16384/2607_vm
src/db-data/base/16384/2608
src/db-data/base/16384/2608_fsm
src/db-data/base/16384/2608_vm
src/db-data/base/16384/2609
src/db-data/base/16384/2609_fsm
src/db-data/base/16384/2609_vm
src/db-data/base/16384/2610
src/db-data/base/16384/2610_fsm
src/db-data/base/16384/2610_vm
src/db-data/base/16384/2612
src/db-data/base/16384/2612_fsm
src/db-data/base/16384/2612_vm
src/db-data/base/16384/2615
src/db-data/base/16384/2615_fsm
src/db-data/base/16384/2615_vm
src/db-data/base/16384/2616
src/db-data/base/16384/2616_fsm
src/db-data/base/16384/2616_vm
src/db-data/base/16384/2617
src/db-data/base/16384/2617_fsm
src/db-data/base/16384/2617_vm
src/db-data/base/16384/2618
src/db-data/base/16384/2618_fsm
src/db-data/base/16384/2618_vm
src/db-data/base/16384/2619
src/db-data/base/16384/2619_fsm
src/db-data/base/16384/2619_vm
src/db-data/base/16384/2650
src/db-data/base/16384/2651
src/db-data/base/16384/2652
src/db-data/base/16384/2653
src/db-data/base/16384/2654
src/db-data/base/16384/2655
src/db-data/base/16384/2656
src/db-data/base/16384/2657
src/db-data/base/16384/2658
src/db-data/base/16384/2659
src/db-data/base/16384/2660
src/db-data/base/16384/2661
src/db-data/base/16384/2662
src/db-data/base/16384/2663
src/db-data/base/16384/2664
src/db-data/base/16384/2665
src/db-data/base/16384/2666
src/db-data/base/16384/2667
src/db-data/base/16384/2668
src/db-data/base/16384/2669
src/db-data/base/16384/2670
src/db-data/base/16384/2673
src/db-data/base/16384/2674
src/db-data/base/16384/2675
src/db-data/base/16384/2678
src/db-data/base/16384/2679
src/db-data/base/16384/2680
src/db-data/base/16384/2681
src/db-data/base/16384/2682
src/db-data/base/16384/2683
src/db-data/base/16384/2684
src/db-data/base/16384/2685
src/db-data/base/16384/2686
src/db-data/base/16384/2687
src/db-data/base/16384/2688
src/db-data/base/16384/2689
src/db-data/base/16384/2690
src/db-data/base/16384/2691
src/db-data/base/16384/2692
src/db-data/base/16384/2693
src/db-data/base/16384/2696
src/db-data/base/16384/2699
src/db-data/base/16384/2701
src/db-data/base/16384/2702
src/db-data/base/16384/2703
src/db-data/base/16384/2704
src/db-data/base/16384/2753
src/db-data/base/16384/2753_fsm
src/db-data/base/16384/2753_vm
src/db-data/base/16384/2754
src/db-data/base/16384/2755
src/db-data/base/16384/2756
src/db-data/base/16384/2757
src/db-data/base/16384/2835
src/db-data/base/16384/2836
src/db-data/base/16384/2838
src/db-data/base/16384/2838_fsm
src/db-data/base/16384/2838_vm
src/db-data/base/16384/2839
src/db-data/base/16384/2996
src/db-data/base/16384/3079
src/db-data/base/16384/3079_fsm
src/db-data/base/16384/3079_vm
src/db-data/base/16384/3080
src/db-data/base/16384/3081
src/db-data/base/16384/3085
src/db-data/base/16384/3119
src/db-data/base/16384/3164
src/db-data/base/16384/3257
src/db-data/base/16384/3258
src/db-data/base/16384/3351
src/db-data/base/16384/3379
src/db-data/base/16384/3380
src/db-data/base/16384/3394
src/db-data/base/16384/3394_fsm
src/db-data/base/16384/3394_vm
src/db-data/base/16384/3395
src/db-data/base/16384/3433
src/db-data/base/16384/3455
src/db-data/base/16384/3456
src/db-data/base/16384/3456_fsm
src/db-data/base/16384/3456_vm
src/db-data/base/16384/3467
src/db-data/base/16384/3468
src/db-data/base/16384/3502
src/db-data/base/16384/3503
src/db-data/base/16384/3534
src/db-data/base/16384/3541
src/db-data/base/16384/3541_fsm
src/db-data/base/16384/3541_vm
src/db-data/base/16384/3542
src/db-data/base/16384/3574
src/db-data/base/16384/3575
src/db-data/base/16384/3597
src/db-data/base/16384/3599
src/db-data/base/16384/3600
src/db-data/base/16384/3600_fsm
src/db-data/base/16384/3600_vm
src/db-data/base/16384/3601
src/db-data/base/16384/3601_fsm
src/db-data/base/16384/3601_vm
src/db-data/base/16384/3602
src/db-data/base/16384/3602_fsm
src/db-data/base/16384/3602_vm
src/db-data/base/16384/3603
src/db-data/base/16384/3603_fsm
src/db-data/base/16384/3603_vm
src/db-data/base/16384/3604
src/db-data/base/16384/3605
src/db-data/base/16384/3606
src/db-data/base/16384/3607
src/db-data/base/16384/3608
src/db-data/base/16384/3609
src/db-data/base/16384/3712
src/db-data/base/16384/3764
src/db-data/base/16384/3764_fsm
src/db-data/base/16384/3764_vm
src/db-data/base/16384/3766
src/db-data/base/16384/3767
src/db-data/base/16384/3997
src/db-data/base/16384/4144
src/db-data/base/16384/4146
src/db-data/base/16384/4148
src/db-data/base/16384/4150
src/db-data/base/16384/4152
src/db-data/base/16384/4154
src/db-data/base/16384/4156
src/db-data/base/16384/4164
src/db-data/base/16384/4166
src/db-data/base/16384/4168
src/db-data/base/16384/4170
src/db-data/base/16384/4174
src/db-data/base/16384/5002
src/db-data/base/16384/6110
src/db-data/base/16384/6111
src/db-data/base/16384/6112
src/db-data/base/16384/6113
src/db-data/base/16384/6116
src/db-data/base/16384/6117
src/db-data/base/16384/6176
src/db-data/base/16384/6229
src/db-data/base/16384/6238
src/db-data/base/16384/6239
src/db-data/base/16384/13466
src/db-data/base/16384/13466_fsm
src/db-data/base/16384/13466_vm
src/db-data/base/16384/13470
src/db-data/base/16384/13471
src/db-data/base/16384/13471_fsm
src/db-data/base/16384/13471_vm
src/db-data/base/16384/13475
src/db-data/base/16384/13476
src/db-data/base/16384/13476_fsm
src/db-data/base/16384/13476_vm
src/db-data/base/16384/13480
src/db-data/base/16384/13481
src/db-data/base/16384/13481_fsm
src/db-data/base/16384/13481_vm
src/db-data/base/16384/13485
src/db-data/base/16384/16385
src/db-data/base/16384/16386
src/db-data/base/16384/16386_fsm
src/db-data/base/16384/16386_vm
src/db-data/base/16384/16390
src/db-data/base/16384/16390_fsm
src/db-data/base/16384/16390_vm
src/db-data/base/16384/16391
src/db-data/base/16384/16392
src/db-data/base/16384/pg_internal.init
src/db-data/base/4/1255
src/db-data/base/4/1255_fsm
src/db-data/base/4/2579
src/db-data/base/4/2618
src/db-data/base/4/2619
src/db-data/base/4/2658
src/db-data/base/4/2659
src/db-data/base/4/2662
src/db-data/base/4/2664
src/db-data/base/4/2665
src/db-data/base/4/2666
src/db-data/base/4/2667
src/db-data/base/4/2673
src/db-data/base/4/2675
src/db-data/base/4/2684
src/db-data/base/4/2685
src/db-data/base/4/2836
src/db-data/base/4/2837
src/db-data/base/4/2838
src/db-data/base/4/2838_fsm
src/db-data/base/4/3085
src/db-data/base/4/3164
src/db-data/base/4/3395
src/db-data/base/4/3604
src/db-data/base/4/3605
src/db-data/base/4/3608
src/db-data/base/4/3609
src/db-data/base/4/3712
src/db-data/base/4/3766
src/db-data/base/4/3767
src/db-data/base/5/1255
src/db-data/base/5/1255_fsm
src/db-data/base/5/2579
src/db-data/base/5/2618
src/db-data/base/5/2619
src/db-data/base/5/2658
src/db-data/base/5/2659
src/db-data/base/5/2662
src/db-data/base/5/2664
src/db-data/base/5/2665
src/db-data/base/5/2666
src/db-data/base/5/2667
src/db-data/base/5/2673
src/db-data/base/5/2675
src/db-data/base/5/2684
src/db-data/base/5/2685
src/db-data/base/5/2836
src/db-data/base/5/2837
src/db-data/base/5/2838
src/db-data/base/5/2838_fsm
src/db-data/base/5/3085
src/db-data/base/5/3164
src/db-data/base/5/3395
src/db-data/base/5/3604
src/db-data/base/5/3605
src/db-data/base/5/3608
src/db-data/base/5/3609
src/db-data/base/5/3712
src/db-data/base/5/3766
src/db-data/base/5/3767
src/db-data/base/5/pg_internal.init
src/db-data/global/1260
src/db-data/global/pg_control
src/db-data/global/pg_internal.init
src/db-data/pg_stat/pgstat.stat
src/db-data/pg_subtrans/0000
src/db-data/pg_wal/000000010000000000000001
src/db-data/pg_wal/000000010000000000000003
src/db-data/pg_wal/000000010000000000000004
src/db-data/pg_xact/0000
